@font-face {
    font-family: "Quicksand-Regular";
    src: url("../fonts/quicksand/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Economica-Bold";
    src: url("../fonts/economica/Economica-Bold.woff2") format("woff2"),
    url("../fonts/economica/Economica-Bold.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("ttf");
    font-display: swap;
}


.intro {
    background-image: url("../media/images/home/backgroung-home.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center bottom;
}

.header {
        padding: 49px 91px 51px 0;
        background-color: #101311;
        position: relative;
}

.header .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.logo {
    position: absolute;
    left: 397px;
    top: 7px;
    height: 156px;
    width: 156px;
    background-image: url("../media/images/header/logo-2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    white-space: nowrap;
    border: solid;
    border-color:#131313;
    border-width: 15px;
    border-radius: 50%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

 .nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none; 
    margin-right: 22px;
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}

.nav li a  {
color: white;
text-decoration: none;  
  
}

.buy-search svg {
    fill: white;
    width: 23px;
    height: 21px;
    margin-right    : 13px;
}

h1 {
    font-family: "Economica-Bold", sans-serif;
    color: #faca36;
    font-size: 70px;
    line-height: 40px;
    letter-spacing: 0.7px;
    margin: 0;
}

.wr-home .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-wrapper {
    width: 516px;
    margin-right: 50px;
    margin-top: 197px;

}

.info-text {
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: white;
}

.button-intro {
    width: 191px;
    height: 41px;
    padding: 0;
    border: solid 2px #facb36;
    background-color: transparent;
    border-radius: 4px;
}

.button-intro a {
    font-family: "Quicksand-Regular", sans-serif;  
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #faca36;
    margin: 0;
    text-decoration: none;

}

.button-intro:hover {
    background-color: #faca36;
}

.button-intro:hover a {
    color: white;
}


.our-services  .wrapper {
    height: 766px;
    padding-top: 109px;
    padding-left: 126px;
    padding-right: 126px;
    background-color: #f4f4f4;
    

}


.service-item {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.positions:nth-of-type(even) {
    margin-left: 90px;
    margin-right: 90px;
}


.positions {
    width: 280px;
    height: 401px;
}

.item-border {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 7px solid;
    border-color: #e6e6e6;
    

}

.item-image {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/coffee-beans.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
    
}

.item-image-second {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/coffee-cup.jpg");
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
}

.item-image-third {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/toast.jpg");
    background-position-x: 27%;
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
}

