@font-face {
    font-family: "Quicksand-Regular";
    src: url("../fonts/quicksand/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Economica-Bold";
    src: url("../fonts/economica/Economica-Bold.woff2") format("woff2"),
    url("../fonts/economica/Economica-Bold.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("ttf");
    font-display: swap;
}


@font-face {
    font-family: "Economica-Regular";
    src: url("../fonts/economica/Economica-Regular.woff2") format("woff2"),
    url("../fonts/economica/Economica-Regular.woff") format("woff"),
    url("../fonts/economica/Economica-Regular.ttf") format("ttf");
    font-display: swap;
}


.intro {
    background-image: url("../media/images/home/backgroung-home.jpg");
    background-size: cover;
    height: 100vh;
    background-position: right bottom;
}

.header {
        background-color: #131313;
        
}

 .header .wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 51px;   
  
}

.logo {
    position: absolute;
    left: 76px;
    top: 7px;
    height: 156px;
    width: 156px;
    background-image: url("../media/images/header/logo-2.jpg");
    background-size: cover;
    background-position: center;
    border: solid #131313 15px;
    border-radius: 50%;
}


.nav-buy {
    margin-right: 63px;
}

.nav {
    display: flex;
}

 .nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none; 
    margin-right: 22px;
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}

.wrapper a:hover {
   color: #faca36;
}


.nav li a  {
color: white;
text-decoration: none;  
  
}

.nav-buy {
    display: flex;
}

.buy-search svg {
    fill: white;
    width: 23px;
    height: 21px;
    margin-right: 13px;
}

.buy-search svg:hover {
    fill: #facb36;
 }
h1 {
    font-family: "Economica-Bold", sans-serif;
    color: #faca36;
    font-size: 70px;
    letter-spacing: 0.7px;
    margin: 0;
}

.wr-home .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-wrapper {
    width: 516px;
    margin-right: 6vh;
    margin-top: 20vh;

}

.info-text {
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: white;
}

.button-intro {
    width: 191px;
    height: 41px;
    padding: 9px 46px;
    border: solid 2px #facb36;
    background-color: transparent;
    border-radius: 4px;
}

.button-intro {
    font-family: "Quicksand-Regular", sans-serif;  
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #faca36;
    margin: 0;
    text-decoration: none;

}

.button-intro:hover {
    background-color: #faca36;
    color: white;
}

.button-intro :hover  {
    color: white;
}


.our-services  .wrapper {
    height: 766px;
    padding-top: 109px;
    padding-left: 126px;
    padding-right: 126px;
    background-color: #f4f4f4;
    

}


.service-item {
    display: flex;
    justify-content: center;
    padding-top: 51px;
}

.positions:nth-of-type(even) {
    margin-left: 90px;
    margin-right: 90px;
}


.positions {
    width: 280px;
    height: 401px;
}

.item-border {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 7px solid;
    border-color: #e6e6e6;
    

}

.item-image {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/coffee-beans.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
    
}

.item-image-second {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/coffee-cup.jpg");
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
}

.item-image-third {
    width: 241px;
    height: 241px;
    overflow: hidden;
    background-image: url("../media/images/our-profucts/toast.jpg");
    background-position-x: 27%;
    border-radius: 50%;
    border: 7px solid;
    border-color: #d1d1d1;
}

.menu-section .wrapper {
    display: flex;
    padding: 0;
}

.menu {
    width: 818px;
    background-color: #131313;
    padding-top: 100px;
    padding-bottom: 145px;
}

.menu h6 {
    font-family: "Economica-Regular", sans-serif;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: #faca36;
    text-align: center;
    margin-bottom: 8px;
}

aside {
    width: 446px;
    background-image: url("../media/images/menu/background-menu.jpg");
}

.buttons-menu {
    display: flex;
    justify-content: center;
		 margin-bottom: 33px;

}

.buttons-menu button {
   width: 191px;
   padding-top: 18px;
   padding-bottom: 18px;
   margin-bottom: 33px;
   border-radius: 4px;
   line-height: 0;
   border: solid 2px #facb36;
   background-color: transparent;
   font-family: "Quicksand-Regular", sans-serif;  
   font-size: 20px;
   line-height: 0.9px;
   color: #faca36;
   margin: 0;
   text-decoration: none;
}

/* .buttons-menu button a {
    font-family: "Quicksand-Regular", sans-serif;  
    font-size: 20px;
    line-height: 0.9px;
    color: #faca36;
    margin: 0;
    text-decoration: none;
} */

.buttons-menu button:hover{
    background-color: #facb36;
    color: white;

    }




.buttons-menu button:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;

}


/* *****menu-tab
b-tab {
    border: 1px solid #000;
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;
  }
  
  .b-nav-tab.active {
    color: #ff4200;
  }

  .position-menu {
      border: indianred solid 3px;
  }


  end**** */

.position-menu-item {
    width: 286px;
    border-top: solid 2px #facb36;
    border-bottom: solid 2px #facb36;
}

.position-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.position-menu-item {
    padding-top: 9px;
    padding-bottom: 1px;

}

.position-menu-item:nth-child(3) {
    border: none;
}
.position-menu-item:nth-child(4) {
    border: none;
}

.position-menu-item .name {
    display: inline-block;

    font-family: "Economica-Regular", sans-serif;
    font-size: 34px;
    letter-spacing: 0.34px;
    color: #ffeeb7;


}
.position-menu-item .price {
    display: inline-block;

    font-family: "Economica-Regular", sans-serif;
    font-size: 34px;
    letter-spacing: 0.34px;
    color: #ffeeb7;
}




.position-menu-item .descr {
    display: inline-block;
    margin: 0;
    font-family: "Quicksand-Regular", sans-serif;  
    font-size: 16px;
    color: #a9a8a6;
    text-align: left;


}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-aside {
    display: flex;
    justify-content: center;

}